# Derlenmiş kaynak #
# ##################
* .com
* .sınıf
* .dll
* .exe
* .o
* .Bu yüzden

# Paketler #
# ###########
# bu dosyaları açıp ham kaynağı işlemek daha iyidir
# git'in kendi dahili sıkıştırma yöntemleri vardır
* .7z
* .dmg
* .gz
* .izo
* .kavanoz
* .rar
* .tar
* .zip

# Günlükler ve veritabanları #
# #####################
* .kayıt
* .sql
* .sqlite

# İşletim sistemi tarafından oluşturulan dosyalar #
# #####################
.DS_Mağazası
.DS_Mağazası ?
._ *
.Spot Işığı-V100
.Çöpler
ehthumbs.db
Başparmaklar.db
